@use "sass:math";

$scale: 0.9;

body {
    background-color: #FFFFFFAA;
    width: 720px*$scale;
}

.hidden {
    display: none;
}

a:link {
    color: #0000009f;
    text-decoration: none;
}

a:visited {
    color: #0000009f;
    text-decoration: none;
}

a:hover {
    color: #0000009f;
    text-decoration: none;
}

a:active {
    color: #0000009f;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}

.verified_badge {
    width: 20px*$scale;
    height: 20px*$scale;
}

.linkAddress {
    line-height: 1.2 !important;
    color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.linkAddress:hover {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.header_addressItem {
    margin: 10px*$scale;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px*$scale;
}

.new_link_button:hover {
    background-color: #00000000 !important;
}

.new_container {
    width: 720px*$scale;
    font-family: 'Roboto';
}

.new_logo_container {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px*$scale;

    width: 84px*$scale;
    height: 16px*$scale;

    border-radius: 8px*$scale;
}

.new_header {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px*$scale 20px*$scale;
    gap: 331px*$scale;

    height: 72px*$scale;
    width: 100%;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.new_peekablock_logo {
    height: 32px*$scale;
    max-height: 32px*$scale;
}

.new_peekablock_title {
    height: 16px*$scale;
    max-height: 16px*$scale;
}

.new_header_running_container {
    flex-direction: row;
    display: flex;
    width: 100px*$scale;
    align-items: center;
    gap: 4px*$scale;
}

.new_header_running_indicator {
    height: 16px*$scale;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px*$scale;
    line-height: 16px*$scale;

    /* identical to box height, or 114% */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.02em;

    /* green/600 */
    color: #059669;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.new_header_icon_play {
    width: 14px*$scale;
    height: 14px*$scale;
    padding: 4px*$scale;
    border-radius: 4px*$scale;
    margin-left: 4px*$scale;
    background: white;
    color: #059669;
    margin-top: 1px;
}

.new_header_menu {
    color: #9460C8;
    width: 25px*$scale;
    height: 20px*$scale;
}

.new_content {
    background: #FAFAFA;
    height: 100%;
    width: 100%;
    padding: 0px;
    padding-top: 20px*$scale;
    padding-bottom: 20px*$scale;
}

.new_content_body {
    padding: 0px 16px*$scale;
}

.new_content_title_row {
    box-sizing: border-box;

    margin-bottom: 25px*$scale;
    padding-left: 16px*$scale;
    padding-right: 16px*$scale;
    width: 100%;
    height: 32px*$scale;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px*$scale;
    line-height: 32px*$scale;

    gap: 10px*$scale;

    /* identical to box height, or 133% */
    display: flex;
    flex-direction: row;
    align-items: center;

    color: rgba(0, 0, 0, 0.87);
}

.new_content_title {
    flex: 1;
}

.report_scam_button {
    font-family: 'Roboto';
    font-weight: 700;
    gap: 10px*$scale;
}

.new_content_box {
    box-sizing: border-box;

    font-family: 'Roboto';
    font-weight: 400;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 16px*$scale;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    overflow: inherit;
}

.new_content_box:not(:last-child) {
    margin-bottom: 20px*$scale;
}


.report_form_submit {
    width: 100%;
    flex: 1;
}

.new_report_form_group {
    box-sizing: border-box;

    display: flex;
    padding: 12px*$scale 24px*$scale;
    padding-bottom: 32px*$scale;
    flex-direction: column;
    align-items: center;
    margin-top: 28px*$scale;
    gap: 16px*$scale;
    width: 100%;
}

.new_chevron_back {
    min-width: 25px*$scale !important;
    height: 31px*$scale;
    padding: 0px;
}

.report_form_input {
    min-width: 100% !important;
}

.report_form_text {
    font-family: 'Roboto';
    font-size: 16px*$scale;
    min-height: 16px*$scale;
    height: 153px*$scale;
    max-width: 604px*$scale !important;
    min-width: 604px*$scale !important;
    margin-right: 18px*$scale;
    margin-left: 18px*$scale;
    padding: 16.5px*$scale 14px*$scale;
    border-radius: 4px*$scale;
    border-color: rgba(0, 0, 0, 0.2);
}

.report_page_panel {
    padding: 0px !important;
    box-sizing: border-box;
    width: 100%;
}

.share_button_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px*$scale;
}

.slow_blinking {
    animation: opacity 1s ease-in-out infinite alternate;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.report_success_checkmark {
    width: 50px*$scale;
    height: 50px*$scale;
}

.new_report_success_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px*$scale;
}

.new_report_success_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px*$scale;
    line-height: 40px*$scale;
    color: rgba(0, 0, 0, 0.87);
}

.copy_to_clipboard_snack {
    width: 150px*$scale !important;
    background-color: #9460C8 !important;
    color: white;
    font-family: 'Roboto';
    padding: 7px*$scale 12px*$scale;
    border-radius: 8px*$scale;
    text-align: center;
}

.new_report_success_message {
    width: 510px*$scale;
    font-size: 16px*$scale;
    font-weight: 400;
    letter-spacing: 0.15px*$scale;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.new_report_success_share_button {}

.new_transaction_header_container {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    padding: 12px*$scale 24px*$scale;
    font-size: 20px*$scale;
    width: 100%;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #00000030;
}

.new_report_scam_header_container {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    padding: 12px*$scale 24px*$scale;
    font-size: 12px*$scale;
    width: 100%;
    align-items: center;
}

.new_form_header_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0px 24px*$scale;
    width: 100%;
    align-items: center;
}

.with_bottom_border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #00000030;
}

.new_form_message {
    margin-top: 24px*$scale;
}

.new_form_message_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px*$scale;
    line-height: 32px*$scale;
}

.new_form_message_paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px*$scale;
    line-height: 24px*$scale;

    letter-spacing: 0.15px*$scale;
    color: rgba(0, 0, 0, 0.6);
}

.new_transaction_action_pill {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px*$scale;
    height: 28px*$scale;
    width: 66px*$scale;
    font-size: 15px*$scale;
    text-align: center;
    padding: 4px*$scale;
    font-weight: 700;
}

.new_transaction_action_pill_col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* All action pills */
.swap {
    color: #0E902B;
    background-color: #D3FECF;
}

.approve {
    color: #90730E;
    background-color: #FEF4CF;
}

.stake {
    color: #900E7B;
    background-color: #F2CFFE;
}

.revoke {
    color: #0E7490;
    background-color: #CFFAFE;
}

.mint {
    color: #0E4290;
    background-color: #CFE7FE;
}

.transfer {
    color: #0E902B;
    background-color: #D3FECF;
}

.liquidate {
    color: #90730E;
    background-color: #FEF4CF;
}

.borrow {
    color: #900E7B;
    background-color: #F2CFFE;
}

.auction {
    color: #0E7490;
    background-color: #CFFAFE;
}

.vote {
    color: #0E4290;
    background-color: #CFE7FE;
}

.redeem {
    color: #0E902B;
    background-color: #D3FECF;
}

.claim {
    color: #90730E;
    background-color: #FEF4CF;
}

.match {
    color: #900E7B;
    background-color: #F2CFFE;
}

.unknown {
    color: #0E7490;
    background-color: #CFFAFE;
}

.fulfill {
    color: #0E4290;
    background-color: #CFE7FE;
}

/**/

.new_event_container {
    margin: 0px 20px*$scale;
    padding: 20px*$scale 0px*$scale;
    display: flex;
    flex-direction: column;
    width: 646px*$scale;
    gap: 10px*$scale;
    align-items: center;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #00000030;
}

.new_gas_row_container {
    box-sizing: border-box;
    margin: 0px;
    padding: 20px*$scale;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new_gas_row_row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.new_gas_row_title {
    /* Parrafo */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px*$scale;
    line-height: 24px*$scale;

    /* identical to box height, or 150% */
    letter-spacing: 0.15px*$scale;
    flex: 1;
}

.events_warning {
    font-family: 'Roboto';
    font-size: 14px*$scale;
    color: white;
    background-color: #B91C1CCC;
    font-weight: 500;
    border-radius: 10px*$scale;
    padding: 10px*$scale;
    margin-top: -10px*$scale;
    margin-bottom: 10px*$scale;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px*$scale;
}

.new_transaction_event_row {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 16px*$scale;
}

.new_transaction_event_pill {
    padding: 16px*$scale 65px*$scale 18px*$scale 18px*$scale;

    width: math.ceil(120*$scale)+px;
    min-width: math.ceil(80*$scale)+px;
    border-radius: 8px*$scale;
    font-size: 16px*$scale;
    font-weight: 500;
}

.new_transaction_event_pill_in {
    /* red/100 */
    background: #D1FAE5;
    opacity: 0.7;

    /* green/700 */
    border: 1px solid #047857;
}

.new_transaction_event_pill_out {
    /* red/100 */
    background: #FEE2E2;
    opacity: 0.7;

    /* red/700 */
    border: 1px solid #B91C1C;
}

.new_transaction_event_pill_approve {
    /* red/100 */
    background: #FFFBEB;
    opacity: 0.7;

    /* red/700 */
    border: 1px solid #B45309;
}

.approval_text {
    color: #B45309;
}

.out_text {
    color: #E6483E;
}

.in_text {
    color: #17995B;
}

.new_transaction_event_address_display {
    margin-left: -32px*$scale !important;
    z-index: 10;
    width: 150px*$scale;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px*$scale;
    font-family: 'Roboto';
    font-weight: 500;
    gap: 5px*$scale;
}

.new_transaction_event_middle_section {
    height: 30px*$scale;
    flex: 1;
}

.new_transaction_event_middle_section_icon {
    height: 30px*$scale;
    width: 30px*$scale;
}

.new_asset_component {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: math.ceil(50*$scale)+px;
    padding: 8px*$scale 16px*$scale;
    gap: 8px*$scale;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px*$scale;

    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.15px*$scale;

    overflow: hidden;
    white-space: nowrap;
    /* Don't forget this one */
    text-overflow: ellipsis;
}

.erc20_label {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 16px*$scale;
    font-weight: 500;
    line-height: math.floor(20*$scale)+px;
    gap: 2px*$scale;
}

.erc20_usd_price_label {
    font-weight: 400;
    font-size: 14px*$scale;
    color: rgba(0, 0, 0, 0.6);
}

.asset_border {
    border-radius: 8px*$scale;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.tooltippable {
    border-radius: 8px*$scale;
    border: 1px solid rgba(0, 0, 0, 0.12);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.tooltippable:hover {
    border-radius: 8px*$scale;
    background-color: rgba(0, 0, 0, 0.12);
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.tooltippable-selected {
    border-radius: 8px*$scale;
    cursor: pointer;
    background-color: #FCFCFC;
    border-radius: 8px*$scale;
    border: 1px solid rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.new_asset_logo_frame {
    margin-top: -1px;
    background-color: #00000030;
    border-radius: 15px*$scale;
    height: 30px*$scale;
    width: 30px*$scale;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new_asset_logo {
    height: 30px*$scale;
    border-radius: 15px*$scale;
}

/* ASSET TOOLTIP */
.asset_tooltip {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px*$scale;
    gap: 4px*$scale;

    margin: 0px -8px*$scale;

    min-width: 350px*$scale;

    /* Hierarchy/Dividers 12% */
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 12px*$scale;

    box-shadow: 4px*$scale 4px*$scale 4px*$scale 4px*$scale #00000020;

    background-color: white;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Roboto';
    color: rgba(0, 0, 0, 0.6);
}

.asset_tooltip_title {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px*$scale;
    gap: 8px*$scale;
    margin-bottom: 10px*$scale;
}

.asset_tooltip_title_icon {
    height: 30px*$scale;
    border-radius: 15px*$scale;
    background-color: #00000030;
}

.asset_tooltip_title_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px*$scale;
    line-height: 24px*$scale;
    letter-spacing: 0.15px*$scale;
}

.asset_tooltip_row {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 24px*$scale;

    gap: 4px*$scale;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px*$scale;
    line-height: 24px*$scale;
    letter-spacing: 0.15px*$scale;
}

.asset_tooltip_key {
    flex: 1;
}

.asset_tooltip_link_icon {
    height: 16px*$scale;
    width: 16px*$scale;
}

.asset_tooltip_value {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
}

.MuiTooltip-tooltip {
    max-width: 632px*$scale !important;
}

/**/

.new_transaction_website_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 631px*$scale;
    padding: 24px*$scale;
}

.new_tx_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 639px*$scale;
    padding: 20px*$scale;
}

.new_website_container {
    height: 40px*$scale;
    visibility: hidden;
}

/* Security assessment*/

.security_assessment_header {
    margin-top: 20px*$scale;
    padding: 0px 24px*$scale;
    font-size: 20px*$scale;
    font-weight: 500;
}

.security_assessment {
    box-sizing: border-box;
    margin-top: 8px*$scale;
    padding: 8px*$scale 24px*$scale;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new_dyor_disclaimer {
    box-sizing: border-box;
    width: 100%;
    gap: 4px*$scale;

    padding: 8px*$scale 16px*$scale;
    /* yellow/100 */
    border-radius: 8px*$scale;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    letter-spacing: 0.15px*$scale;
    line-height: 24px*$scale;
}

.security_assessment_reported_message {
    box-sizing: border-box;

    text-align: center;
    width: 100%;
    padding: 0px 24px*$scale;

    font-size: 14px*$scale;
    font-weight: 400;
    font-family: 'Roboto';
    margin-bottom: 20px*$scale;

    color: rgba(0, 0, 0, 0.6);
}

.dyor_warning {
    background-color: #FEF3C7;
    color: #D97706;
}

.dyor_error {
    color: #E6483E;
    background-color: #FEE2E2;
}

.new_dyor_disclaimer_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new_dyor_title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px*$scale;
    line-height: 24px*$scale;
    flex: 1;
}

.new_dyor_alert {
    width: 24px*$scale;
    height: 24px*$scale;
    margin-top: 2px*$scale;
}

.new_dyor_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px*$scale;
    flex: 1;
}

/* Transaction details */

.MuiAccordionSummary-root {
    padding-left: 24px*$scale !important;
    padding-right: 24px*$scale !important;
}

.transaction_details_accordion {
    font-family: 'Roboto';
    margin-top: 20px*$scale;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    border-radius: 16px*$scale !important;
    padding-top: 8px*$scale;
    padding-bottom: 8px*$scale;
}

.new_transaction_details_event_address_display {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px*$scale;
    font-family: 'Roboto';
    font-weight: 500;
    gap: 8px*$scale;
    width: 250px*$scale;
}

.standard_address_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px*$scale;
}

.tooltipped_address_label {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px*$scale 8px*$scale;
}

.event_row_details_middle_col {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -8px*$scale;
}

.event_row_details_middle_row {
    display: flex;
    flex-direction: row;
    gap: 10px*$scale;
}

.event_row_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 32px*$scale;
    width: 100%;
    margin-top: math.floor(-5*$scale)+px;
}

.css-67l5gl::before {
    height: 0px !important;
}

.MuiAccordionDetails-root {
    padding: 0px !important;
    margin: 16px*$scale;
}

/* TIMELINE */

.MuiTimeline-root {
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: -30px*$scale;
}

.MuiTimelineItem-root {
    max-height: 60px*$scale !important;
    min-height: 60px*$scale !important;
}

.MuiTimelineContent-root {
    height: 32px*$scale;
    margin-top: -6px*$scale !important;
}

.MuiTimelineConnector-root {
    margin-top: math.ceil(-2*$scale)+px;
    background-color: #00000000 !important;
}

.MuiTimelineDot-root {
    background-color: white !important;
    margin: 0px !important;
    width: math.ceil(32*$scale) +px;
    height: math.ceil(32*$scale) +px;
    box-shadow: none !important;
}

.MuiTimelineSeparator-root {
    height: 54px*$scale;
}

.transaction_details_accordion_details {
    padding: 0px !important;
}

.timeline_dot {
    margin: -(math.floor(8*$scale))+px;
    padding: math.floor(8*$scale)+px;
    width: math.ceil(32*$scale)+px;
    height: math.ceil(32*$scale)+px;
}

.event_details_timeline_connector {
    margin-top: 2px*$scale;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_details_timeline_connector_line {
    height: 14px*$scale;
}
.event_details_timeline_connector_arrow {
    width: 16px*$scale;
    height: 12px*$scale
}

/* REPORT */
.report_page_tab_header {
    box-sizing: border-box;
    width: 638px*$scale;
    margin: 0px 24px*$scale;
    margin-top: 12px*$scale;
}


/* HOME */
.new_home_analysis_list {
    padding: 16px*$scale 24px*$scale;
    font-family: 'Roboto';
    font-size: 15px*$scale;
}

.new_home_content_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 24px*$scale;
    margin-top: 32px*$scale;
    margin-bottom: 20px*$scale;
}

.new_home_logo {
    height: 90px*$scale;
    width: 90px*$scale;
    margin-bottom: 24px*$scale;
}

.new_home_motto {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px*$scale;
    line-height: 24px*$scale;
    letter-spacing: 0.15px*$scale;
    color: #383F52;
}

.new_home_text {
    box-sizing: border-box;
    padding: 0px 48px*$scale;
    margin-bottom: 32px*$scale;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 16px*$scale;
}

.new_home_title {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px*$scale;
    line-height: 45px*$scale;
    text-justify: auto;
    color: rgba(0, 0, 0, 0.87);
}

.new_home_explanation {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px*$scale;
    line-height: 24px*$scale;

    /* or 133% */
    letter-spacing: 0.15px*$scale;
    color: rgba(0, 0, 0, 0.5);
}

.new_home_action_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px*$scale;
}

/* ERROR SCREEN */
.error_image {
    width: 162px*$scale;
    height: 152px*$scale;
}

.error_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px*$scale;
    font-family: 'Roboto';
    padding: 32px*$scale 24px*$scale;
}

.error_title {
    margin-top: 24px*$scale;
    font-size: 32px*$scale;
    font-weight: 700;
}

.error_message {
    font-size: 16px*$scale;
    font-weight: 500;
    text-align: center;
}

/* SIGN TYPED */

.new_sign_typed_container {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px*$scale;
    color: rgba(0, 0, 0, 0.6);

    margin: 0px 20px*$scale;
    padding: 20px*$scale 0px*$scale;
    display: flex;
    flex-direction: column;
    width: 646px*$scale;
    gap: 10px*$scale;
    align-items: center;
}

.new_sign_typed_address_display {
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px*$scale;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 10px*$scale 20px*$scale;
}